body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo{
    background-color: #c6f88d;
    height: 50%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    background-color: #c6f88d;
    color: #75B79E;
    height: 10%;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.principal{
    background-color: #c6f88d;
    height: 70%;
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.bloco{
    background-color: #c6f88d;
    height: 50%;
    width: 90%;
    margin-bottom: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carta{
    background-color:#A7E9AF;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    margin: 2%;
}
.carta > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
@media (max-width: 650px) {
    .conteudo{
        width: 100%;
}
.titulo{
background-color: #c6f88d;
color: #75B79E;
width: 60%;
font-size: 150%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
margin-left: 100px;

}
    .bloco{
        background-color: #c6f88d;
        height: 50%;
        width: 30%;
        margin-bottom: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}    