body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo{
    background-color: #abf853;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    background-color: #abf853;
    color: #75B79E;
    height: 10%;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.principal{
    background-color: #abf853;
    height: 70%;
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bloco1{
    background-color: #abf853;
    height: 50%;
    width: 90%;
    margin-bottom: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
.bloco2{
    background-color:#abf853;
    height: 50%;
    width: 90%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bloco-imagens1{
    background-color:#75B79E;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.bloco-imagens2{
    background-color:#75B79E;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.bloco-imagens3{
    background-color:#75B79E;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.bloco-imagens4{
    background-color:#75B79E;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.bloco-imagens5{
    background-color:#75B79E;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.bloco-imagens6{
    background-color:#75B79E;
    height: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}
.bloco-imagens7{
    background-color:#75B79E;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

.bloco-imagens1 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.bloco-imagens2 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.bloco-imagens3 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.bloco-imagens4 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.bloco-imagens5 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.bloco-imagens6 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.bloco-imagens7 > img{
    height: 80px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
